
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont icon-weibiaoti1"></i>
                    <div class="name">user</div>
                    <div class="fontclass">.icon-weibiaoti1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-18"></i>
                    <div class="name">home</div>
                    <div class="fontclass">.icon-18</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-pengyouquan1193401easyiconnet"></i>
                    <div class="name">pengyouquan_1193401_easyicon.net</div>
                    <div class="fontclass">.icon-pengyouquan1193401easyiconnet</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-taobao1193410easyiconnet"></i>
                    <div class="name">taobao_1193410_easyicon.net</div>
                    <div class="fontclass">.icon-taobao1193410easyiconnet</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-wechat1193418easyiconnet"></i>
                    <div class="name">wechat_1193418_easyicon.net</div>
                    <div class="fontclass">.icon-wechat1193418easyiconnet</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibo1193419easyiconnet"></i>
                    <div class="name">weibo_1193419_easyicon.net</div>
                    <div class="fontclass">.icon-weibo1193419easyiconnet</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6b9"></i>
                    <div class="name">uniE6B9</div>
                    <div class="fontclass">.icon-unie6b9</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6b92"></i>
                    <div class="name">uniE6B92</div>
                    <div class="fontclass">.icon-unie6b92</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6ec"></i>
                    <div class="name">uniE6EC</div>
                    <div class="fontclass">.icon-unie6ec</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6ed"></i>
                    <div class="name">uniE6ED</div>
                    <div class="fontclass">.icon-unie6ed</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie73a"></i>
                    <div class="name">uniE73A</div>
                    <div class="fontclass">.icon-unie73a</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie712"></i>
                    <div class="name">uniE712</div>
                    <div class="fontclass">.icon-unie712</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie713"></i>
                    <div class="name">uniE713</div>
                    <div class="fontclass">.icon-unie713</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie718"></i>
                    <div class="name">uniE718</div>
                    <div class="fontclass">.icon-unie718</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie719"></i>
                    <div class="name">uniE719</div>
                    <div class="fontclass">.icon-unie719</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie738"></i>
                    <div class="name">uniE738</div>
                    <div class="fontclass">.icon-unie738</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6722"></i>
                    <div class="name">uniE6722</div>
                    <div class="fontclass">.icon-unie6722</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6642"></i>
                    <div class="name">uniE6642</div>
                    <div class="fontclass">.icon-unie6642</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6662"></i>
                    <div class="name">uniE6662</div>
                    <div class="fontclass">.icon-unie6662</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6672"></i>
                    <div class="name">uniE6672</div>
                    <div class="fontclass">.icon-unie6672</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6682"></i>
                    <div class="name">uniE6682</div>
                    <div class="fontclass">.icon-unie6682</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie7052"></i>
                    <div class="name">uniE7052</div>
                    <div class="fontclass">.icon-unie7052</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6822"></i>
                    <div class="name">uniE6822</div>
                    <div class="fontclass">.icon-unie6822</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6892"></i>
                    <div class="name">uniE6892</div>
                    <div class="fontclass">.icon-unie6892</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6902"></i>
                    <div class="name">uniE6902</div>
                    <div class="fontclass">.icon-unie6902</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie6912"></i>
                    <div class="name">uniE6912</div>
                    <div class="fontclass">.icon-unie6912</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie7042"></i>
                    <div class="name">uniE7042</div>
                    <div class="fontclass">.icon-unie7042</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie7252"></i>
                    <div class="name">uniE7252</div>
                    <div class="fontclass">.icon-unie7252</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled4"></i>
                    <div class="name">untitled4</div>
                    <div class="fontclass">.icon-untitled4</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-mobile"></i>
                    <div class="name">mobile</div>
                    <div class="fontclass">.icon-mobile</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unif104"></i>
                    <div class="name">uniF104</div>
                    <div class="fontclass">.icon-unif104</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled"></i>
                    <div class="name">untitled</div>
                    <div class="fontclass">.icon-untitled</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie8f6"></i>
                    <div class="name">uniE8F6</div>
                    <div class="fontclass">.icon-unie8f6</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie8f7"></i>
                    <div class="name">uniE8F7</div>
                    <div class="fontclass">.icon-unie8f7</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie62d"></i>
                    <div class="name">uniE62D</div>
                    <div class="fontclass">.icon-unie62d</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie63b"></i>
                    <div class="name">uniE63B</div>
                    <div class="fontclass">.icon-unie63b</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie63d"></i>
                    <div class="name">uniE63D</div>
                    <div class="fontclass">.icon-unie63d</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie61a"></i>
                    <div class="name">uniE61A</div>
                    <div class="fontclass">.icon-unie61a</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie64b"></i>
                    <div class="name">uniE64B</div>
                    <div class="fontclass">.icon-unie64b</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie64f"></i>
                    <div class="name">uniE64F</div>
                    <div class="fontclass">.icon-unie64f</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie65a"></i>
                    <div class="name">uniE65A</div>
                    <div class="fontclass">.icon-unie65a</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie68f"></i>
                    <div class="name">uniE68F</div>
                    <div class="fontclass">.icon-unie68f</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie90b"></i>
                    <div class="name">uniE90B</div>
                    <div class="fontclass">.icon-unie90b</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie90e"></i>
                    <div class="name">uniE90E</div>
                    <div class="fontclass">.icon-unie90e</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie91b"></i>
                    <div class="name">uniE91B</div>
                    <div class="fontclass">.icon-unie91b</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie91d"></i>
                    <div class="name">uniE91D</div>
                    <div class="fontclass">.icon-unie91d</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie92b"></i>
                    <div class="name">uniE92B</div>
                    <div class="fontclass">.icon-unie92b</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie92c"></i>
                    <div class="name">uniE92C</div>
                    <div class="fontclass">.icon-unie92c</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie92f"></i>
                    <div class="name">uniE92F</div>
                    <div class="fontclass">.icon-unie92f</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie93f"></i>
                    <div class="name">uniE93F</div>
                    <div class="fontclass">.icon-unie93f</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie95a"></i>
                    <div class="name">uniE95A</div>
                    <div class="fontclass">.icon-unie95a</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie95c"></i>
                    <div class="name">uniE95C</div>
                    <div class="fontclass">.icon-unie95c</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie95f"></i>
                    <div class="name">uniE95F</div>
                    <div class="fontclass">.icon-unie95f</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie602"></i>
                    <div class="name">uniE602</div>
                    <div class="fontclass">.icon-unie602</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie615"></i>
                    <div class="name">uniE615</div>
                    <div class="fontclass">.icon-unie615</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie619"></i>
                    <div class="name">uniE619</div>
                    <div class="fontclass">.icon-unie619</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie626"></i>
                    <div class="name">uniE626</div>
                    <div class="fontclass">.icon-unie626</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie629"></i>
                    <div class="name">uniE629</div>
                    <div class="fontclass">.icon-unie629</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie632"></i>
                    <div class="name">uniE632</div>
                    <div class="fontclass">.icon-unie632</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie634"></i>
                    <div class="name">uniE634</div>
                    <div class="fontclass">.icon-unie634</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie636"></i>
                    <div class="name">uniE636</div>
                    <div class="fontclass">.icon-unie636</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie637"></i>
                    <div class="name">uniE637</div>
                    <div class="fontclass">.icon-unie637</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie672"></i>
                    <div class="name">uniE672</div>
                    <div class="fontclass">.icon-unie672</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie674"></i>
                    <div class="name">uniE674</div>
                    <div class="fontclass">.icon-unie674</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie685"></i>
                    <div class="name">uniE685</div>
                    <div class="fontclass">.icon-unie685</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie687"></i>
                    <div class="name">uniE687</div>
                    <div class="fontclass">.icon-unie687</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie692"></i>
                    <div class="name">uniE692</div>
                    <div class="fontclass">.icon-unie692</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie693"></i>
                    <div class="name">uniE693</div>
                    <div class="fontclass">.icon-unie693</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie914"></i>
                    <div class="name">uniE914</div>
                    <div class="fontclass">.icon-unie914</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie929"></i>
                    <div class="name">uniE929</div>
                    <div class="fontclass">.icon-unie929</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie938"></i>
                    <div class="name">uniE938</div>
                    <div class="fontclass">.icon-unie938</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-unie947"></i>
                    <div class="name">uniE947</div>
                    <div class="fontclass">.icon-unie947</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled9"></i>
                    <div class="name">untitled9</div>
                    <div class="fontclass">.icon-untitled9</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled10"></i>
                    <div class="name">untitled10</div>
                    <div class="fontclass">.icon-untitled10</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled17"></i>
                    <div class="name">untitled17</div>
                    <div class="fontclass">.icon-untitled17</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled18"></i>
                    <div class="name">untitled18</div>
                    <div class="fontclass">.icon-untitled18</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled21"></i>
                    <div class="name">untitled21</div>
                    <div class="fontclass">.icon-untitled21</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled22"></i>
                    <div class="name">untitled22</div>
                    <div class="fontclass">.icon-untitled22</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled25"></i>
                    <div class="name">untitled25</div>
                    <div class="fontclass">.icon-untitled25</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled26"></i>
                    <div class="name">untitled26</div>
                    <div class="fontclass">.icon-untitled26</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled27"></i>
                    <div class="name">untitled27</div>
                    <div class="fontclass">.icon-untitled27</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled28"></i>
                    <div class="name">untitled28</div>
                    <div class="fontclass">.icon-untitled28</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled45"></i>
                    <div class="name">untitled45</div>
                    <div class="fontclass">.icon-untitled45</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled46"></i>
                    <div class="name">untitled46</div>
                    <div class="fontclass">.icon-untitled46</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled47"></i>
                    <div class="name">untitled47</div>
                    <div class="fontclass">.icon-untitled47</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled48"></i>
                    <div class="name">untitled48</div>
                    <div class="fontclass">.icon-untitled48</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled49"></i>
                    <div class="name">untitled49</div>
                    <div class="fontclass">.icon-untitled49</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled50"></i>
                    <div class="name">untitled50</div>
                    <div class="fontclass">.icon-untitled50</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled51"></i>
                    <div class="name">untitled51</div>
                    <div class="fontclass">.icon-untitled51</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled52"></i>
                    <div class="name">untitled52</div>
                    <div class="fontclass">.icon-untitled52</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled53"></i>
                    <div class="name">untitled53</div>
                    <div class="fontclass">.icon-untitled53</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled55"></i>
                    <div class="name">untitled55</div>
                    <div class="fontclass">.icon-untitled55</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled56"></i>
                    <div class="name">untitled56</div>
                    <div class="fontclass">.icon-untitled56</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled68"></i>
                    <div class="name">untitled68</div>
                    <div class="fontclass">.icon-untitled68</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled69"></i>
                    <div class="name">untitled69</div>
                    <div class="fontclass">.icon-untitled69</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled70"></i>
                    <div class="name">untitled70</div>
                    <div class="fontclass">.icon-untitled70</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled71"></i>
                    <div class="name">untitled71</div>
                    <div class="fontclass">.icon-untitled71</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled57"></i>
                    <div class="name">untitled57</div>
                    <div class="fontclass">.icon-untitled57</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled58"></i>
                    <div class="name">untitled58</div>
                    <div class="fontclass">.icon-untitled58</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled61"></i>
                    <div class="name">untitled61</div>
                    <div class="fontclass">.icon-untitled61</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled62"></i>
                    <div class="name">untitled62</div>
                    <div class="fontclass">.icon-untitled62</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled63"></i>
                    <div class="name">untitled63</div>
                    <div class="fontclass">.icon-untitled63</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled64"></i>
                    <div class="name">untitled64</div>
                    <div class="fontclass">.icon-untitled64</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled65"></i>
                    <div class="name">untitled65</div>
                    <div class="fontclass">.icon-untitled65</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled66"></i>
                    <div class="name">untitled66</div>
                    <div class="fontclass">.icon-untitled66</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled90"></i>
                    <div class="name">untitled90</div>
                    <div class="fontclass">.icon-untitled90</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled91"></i>
                    <div class="name">untitled91</div>
                    <div class="fontclass">.icon-untitled91</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled78"></i>
                    <div class="name">untitled78</div>
                    <div class="fontclass">.icon-untitled78</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled79"></i>
                    <div class="name">untitled79</div>
                    <div class="fontclass">.icon-untitled79</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled80"></i>
                    <div class="name">untitled80</div>
                    <div class="fontclass">.icon-untitled80</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled81"></i>
                    <div class="name">untitled81</div>
                    <div class="fontclass">.icon-untitled81</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled111"></i>
                    <div class="name">untitled111</div>
                    <div class="fontclass">.icon-untitled111</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled112"></i>
                    <div class="name">untitled112</div>
                    <div class="fontclass">.icon-untitled112</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled115"></i>
                    <div class="name">untitled115</div>
                    <div class="fontclass">.icon-untitled115</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled116"></i>
                    <div class="name">untitled116</div>
                    <div class="fontclass">.icon-untitled116</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled99"></i>
                    <div class="name">untitled99</div>
                    <div class="fontclass">.icon-untitled99</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled100"></i>
                    <div class="name">untitled100</div>
                    <div class="fontclass">.icon-untitled100</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled101"></i>
                    <div class="name">untitled101</div>
                    <div class="fontclass">.icon-untitled101</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled102"></i>
                    <div class="name">untitled102</div>
                    <div class="fontclass">.icon-untitled102</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled103"></i>
                    <div class="name">untitled103</div>
                    <div class="fontclass">.icon-untitled103</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled104"></i>
                    <div class="name">untitled104</div>
                    <div class="fontclass">.icon-untitled104</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled137"></i>
                    <div class="name">untitled137</div>
                    <div class="fontclass">.icon-untitled137</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled142"></i>
                    <div class="name">untitled142</div>
                    <div class="fontclass">.icon-untitled142</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled143"></i>
                    <div class="name">untitled143</div>
                    <div class="fontclass">.icon-untitled143</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled144"></i>
                    <div class="name">untitled144</div>
                    <div class="fontclass">.icon-untitled144</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled145"></i>
                    <div class="name">untitled145</div>
                    <div class="fontclass">.icon-untitled145</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled151"></i>
                    <div class="name">untitled151</div>
                    <div class="fontclass">.icon-untitled151</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-untitled152"></i>
                    <div class="name">untitled152</div>
                    <div class="fontclass">.icon-untitled152</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bumenzhinenggongzuoshenhe"></i>
                    <div class="name">部门职能工作审核</div>
                    <div class="fontclass">.icon-bumenzhinenggongzuoshenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-bumenrenyuanguanli"></i>
                    <div class="name">部门人员管理</div>
                    <div class="fontclass">.icon-bumenrenyuanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caigoujichushezhi"></i>
                    <div class="name">采购基础设置</div>
                    <div class="fontclass">.icon-caigoujichushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-caiwujichushezhi"></i>
                    <div class="name">财务基础设置</div>
                    <div class="fontclass">.icon-caiwujichushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chunaguanli"></i>
                    <div class="name">出纳管理</div>
                    <div class="fontclass">.icon-chunaguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chengpinrukuyuchukuguanli"></i>
                    <div class="name">成品入库与出库管理</div>
                    <div class="fontclass">.icon-chengpinrukuyuchukuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chunashenhe"></i>
                    <div class="name">出纳审核</div>
                    <div class="fontclass">.icon-chunashenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdanwuliaocaigouguanli"></i>
                    <div class="name">订单物料采购管理</div>
                    <div class="fontclass">.icon-dingdanwuliaocaigouguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fapiaoguanli"></i>
                    <div class="name">发票管理</div>
                    <div class="fontclass">.icon-fapiaoguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-fapiaoshenhe"></i>
                    <div class="name">发票审核</div>
                    <div class="fontclass">.icon-fapiaoshenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingdanwuliaocaigouruku"></i>
                    <div class="name">订单物料采购入库</div>
                    <div class="fontclass">.icon-dingdanwuliaocaigouruku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gendanguanlishenhe"></i>
                    <div class="name">跟单管理审核</div>
                    <div class="fontclass">.icon-gendanguanlishenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongyingshangbaojiaguanli"></i>
                    <div class="name">供应商报价管理</div>
                    <div class="fontclass">.icon-gongyingshangbaojiaguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongsiquanbushengchandingdanguanli"></i>
                    <div class="name">公司全部生产订单管理</div>
                    <div class="fontclass">.icon-gongsiquanbushengchandingdanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongyingshangduizhang"></i>
                    <div class="name">供应商对账</div>
                    <div class="fontclass">.icon-gongyingshangduizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-gongyingshangjiandangyudanganguanli"></i>
                    <div class="name">供应商建档与档案管理</div>
                    <div class="fontclass">.icon-gongyingshangjiandangyudanganguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huijiyingfuguanli"></i>
                    <div class="name">会计应付管理</div>
                    <div class="fontclass">.icon-huijiyingfuguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-huijiyingshouguanli"></i>
                    <div class="name">会计应收管理</div>
                    <div class="fontclass">.icon-huijiyingshouguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kehuduizhang"></i>
                    <div class="name">客户对账</div>
                    <div class="fontclass">.icon-kehuduizhang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-renyuandanganguanli"></i>
                    <div class="name">人员档案管理</div>
                    <div class="fontclass">.icon-renyuandanganguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qichukucunluru"></i>
                    <div class="name">期初库存录入</div>
                    <div class="fontclass">.icon-qichukucunluru</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shengchanbeiliaoyufaliao"></i>
                    <div class="name">生产备料与发料</div>
                    <div class="fontclass">.icon-shengchanbeiliaoyufaliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-kaifajichushezhi"></i>
                    <div class="name">开发基础设置</div>
                    <div class="fontclass">.icon-kaifajichushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-shengchanlingliaoyutuiliao"></i>
                    <div class="name">生产领料与退料</div>
                    <div class="fontclass">.icon-shengchanlingliaoyutuiliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-lailiaopinzhijianyan"></i>
                    <div class="name">来料品质检验</div>
                    <div class="fontclass">.icon-lailiaopinzhijianyan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weiwaibeiliaoyufaliao"></i>
                    <div class="name">委外备料与发料</div>
                    <div class="fontclass">.icon-weiwaibeiliaoyufaliao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weiwaijiagongcaigou"></i>
                    <div class="name">委外加工采购</div>
                    <div class="fontclass">.icon-weiwaijiagongcaigou</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoshoubaojiaguanli"></i>
                    <div class="name">销售报价管理</div>
                    <div class="fontclass">.icon-xiaoshoubaojiaguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weiwaijiagongcaigouruku"></i>
                    <div class="name">委外加工采购入库</div>
                    <div class="fontclass">.icon-weiwaijiagongcaigouruku</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoshoudingdanshenhe"></i>
                    <div class="name">销售订单审核</div>
                    <div class="fontclass">.icon-xiaoshoudingdanshenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoshoubaojiashenhe"></i>
                    <div class="name">销售报价审核</div>
                    <div class="fontclass">.icon-xiaoshoubaojiashenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xiaoshougendanguanli"></i>
                    <div class="name">销售跟单管理</div>
                    <div class="fontclass">.icon-xiaoshougendanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengyugengxingongxudangan"></i>
                    <div class="name">新增与更新工序档案</div>
                    <div class="fontclass">.icon-xinzengyugengxingongxudangan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengyugengxinhuopindangan"></i>
                    <div class="name">新增与更新货品档案</div>
                    <div class="fontclass">.icon-xinzengyugengxinhuopindangan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengyugengxinkehudangan"></i>
                    <div class="name">新增与更新客户档案</div>
                    <div class="fontclass">.icon-xinzengyugengxinkehudangan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-xinzengyugengxinxiaoshoudingdan"></i>
                    <div class="name">新增与更新销售订单</div>
                    <div class="fontclass">.icon-xinzengyugengxinxiaoshoudingdan</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-hangzhenggonggao"></i>
                    <div class="name">行政公告</div>
                    <div class="fontclass">.icon-hangzhenggonggao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yewujichushezhi"></i>
                    <div class="name">业务基础设置</div>
                    <div class="fontclass">.icon-yewujichushezhi</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingfushenhe"></i>
                    <div class="name">应付审核</div>
                    <div class="fontclass">.icon-yingfushenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-yingshoushenhe"></i>
                    <div class="name">应收审核</div>
                    <div class="fontclass">.icon-yingshoushenhe</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-Bomdanganguanli"></i>
                    <div class="name">Bom档案管理</div>
                    <div class="fontclass">.icon-Bomdanganguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-Bomdanganshenheguanli"></i>
                    <div class="name">Bom档案审核管理</div>
                    <div class="fontclass">.icon-Bomdanganshenheguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-benbanzushengchandingdanguanli"></i>
                    <div class="name">本班组生产订单管理</div>
                    <div class="fontclass">.icon-benbanzushengchandingdanguanli</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-chanchengpinrukuzhuancang"></i>
                    <div class="name">产成品入库转仓</div>
                    <div class="fontclass">.icon-chanchengpinrukuzhuancang</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-ios"></i>
                    <div class="name">ios</div>
                    <div class="fontclass">.icon-ios</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dingwei"></i>
                    <div class="name">定位</div>
                    <div class="fontclass">.icon-dingwei</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-anzhuo"></i>
                    <div class="name">安卓</div>
                    <div class="fontclass">.icon-anzhuo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-dianhua"></i>
                    <div class="name">电话 (1)</div>
                    <div class="fontclass">.icon-dianhua</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-faxian"></i>
                    <div class="name">发现</div>
                    <div class="fontclass">.icon-faxian</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-liulanqi-IE"></i>
                    <div class="name">浏览器-IE</div>
                    <div class="fontclass">.icon-liulanqi-IE</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-taobao"></i>
                    <div class="name">淘宝</div>
                    <div class="fontclass">.icon-taobao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibo"></i>
                    <div class="name">微博</div>
                    <div class="fontclass">.icon-weibo</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weibo1"></i>
                    <div class="name">微博 (1)</div>
                    <div class="fontclass">.icon-weibo1</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-weixin"></i>
                    <div class="name">微信</div>
                    <div class="fontclass">.icon-weixin</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-zhifubao"></i>
                    <div class="name">支付宝</div>
                    <div class="fontclass">.icon-zhifubao</div>
                </li>
            
                <li>
                <i class="icon iconfont icon-qq"></i>
                    <div class="name">qq</div>
                    <div class="fontclass">.icon-qq</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
