<extend name="Public/common"/>
<block name="body">

<div class="page-container">
	<p class="f-20 text-success">欢迎使用{:F('profiles')['company']}管理系统</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>Copyright &copy;2017 {:F('profiles')['company']} All Rights Reserved.<br>
			本站由<a href="http://www.naerkeji.com/" target="_blank" title="纳尔科技">纳尔科技</a>提供技术支持</p>
	</div>
</footer>


</block>