<extend name="Public/common"/>
<block name="body">
<div class="page-container">
	<p class="f-20 text-success">欢迎使用{:F('profiles')['company']}管理平台</p>
	<table class="table table-border table-bordered table-hover table-bg">
		<thead>
			<tr class="text-c">
				<th width="100" colspan="2"><h3>系统基本信息</h3></th>
			</tr>
		</thead>
		<volist name="server_info" id="vo">
		<tbody>
			<tr class="text-c">
				<td>{$key}</td>
				<td>{$vo}</td>
			</tr>
	        </volist>
        </tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>Copyright &copy;2017 {:F('profile')['company']} All Rights Reserved.<br>
			本站由<a href="www.naerkeji.com" target="_blank" title="纳尔科技">纳尔科技</a>提供技术支持</p>
	</div>
</footer>
</block>