<extend name="Public/common"/>



<block name="body">


<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span>编辑用户 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" id="btn-refresh"><i class="Hui-iconfont" id="btn-refresh">&#xe68f;</i></a></nav>

<article class="page-container">
	<form action="{:U('User/update')}" method="post" class="form form-horizontal" id="form-member-add" enctype="multipart/form-data"  onsubmit="return check()">
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户昵称：</label>
			<div class="formControls col-xs-5 col-sm-6">
				<input type="text" class="input-text radius" value="{$info.name}" placeholder="" id="name" name="name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户头像：</label>
			<div class="main-upload">
	          <div class="main-img">
	            <input class="input" type="file" name="img" id="doc2" style="opacity:0; display:none;" onchange="javascript:setImagePreview();">
	            <label id="a2" for="doc2"><i class="Hui-iconfont">&#xe600;</i></label>
	            <img id="preview2" scr="{$info.img}"> </div>
	        </div>
		</div>
    <div class="row cl">
          <label class="form-label col-xs-4 col-sm-3">性别：</label>
          <div class="formControls col-xs-5 col-sm-6">
                 <div class="radio-box">
                    <input type="radio" id="radio-1" name="sex" value="0"  <if condition="0 eq $info['sex']"> checked</if>>
                    <label for="radio-1">男 </label>
                  </div>
                <div class="radio-box">
                    <input type="radio" id="radio-2" name="sex" value="1" <if condition="1 eq $info['sex']"> checked</if>>
                    <label for="radio-2">女</label>
                </div>
          </div>
      </div>

    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3"></span>微信：</label>
      <div class="formControls col-xs-5 col-sm-6">
        <input type="text" class="input-text radius" placeholder=""  name="wechat" value="{$info.wechat}">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3"></span>QQ：</label>
      <div class="formControls col-xs-5 col-sm-6">
        <input type="text" class="input-text radius" placeholder=""  name="qq"  value="{$info.qq}">
      </div>
    </div>
    <div class="row cl">
      <label class="form-label col-xs-4 col-sm-3"></span>地址：</label>
      <div class="formControls col-xs-5 col-sm-6">
        <input type="text" class="input-text radius" placeholder=""  name="address" value="{$info.address}">
      </div>
    </div>
    
    <input type="hidden" name="uid" value="{$info.uid}">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">&nbsp;&nbsp;&nbsp;
				<input class="btn btn-primary radius" onclick="history.go(-1)" value="返回" type="button">
			</div>
		</div>
	</form>
</article>
<style type="text/css">
.main-upload {
    margin: 20px;
    position: relative;
    width: 150px;
    margin-left: 26%;
    background: #FFF;
    border: 1px solid #ddd;
    margin-bottom: 40px
}
.main-img {
    width: 150px;
    height: 100px;
    margin: 0 auto;
}
#a2{
    display: block;
    width: 150px;
    height: 20px;
    position: absolute;
    bottom: -20px;
    background: #5a98de;
    text-align: center;
    color: #000;
    line-height: 20px;
    z-index: 999;
}
#a2 i{
    color: #fff;
}
#a2:hover{
  background: #0a6999;
}
</style>
<script>
function setImagePreview() {
  var docObj2=document.getElementById("doc2");
  var imgObjPreview2=document.getElementById("preview2");
  if(docObj2.files &&    docObj2.files[0]){
  //火狐下，直接设img属性
  imgObjPreview2.style.display = 'block';
  imgObjPreview2.style.width="100%";
  imgObjPreview2.style.height="100%"; 
  imgObjPreview2.src = window.URL.createObjectURL(docObj2.files[0]);
  }
  return true;
}
</script>
<script type="text/javascript">
function check(){
	if($('#name').val() == ''){
		layer.msg('分类名不能为空！');
		$('#name').focus();
		return false;
	}
  
	return true;
}
</script>
<script type="text/javascript" src="__LIB__/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="__LIB__/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="__AJS__/H-ui.js"></script> 
<script type="text/javascript" src="__AJS__/H-ui.admin.js"></script> 
</block>