<header>
    <div class="container">
        <div class="logo-box">
            <a href="{:U('Index/index')}" title="{:F('profiles')['company']}">
                <img src="__HIMAGE__/logo.png" title="{:F('profiles')['company']}" alt="{:F('profiles')['company']}">
            </a>
        </div>
        <div class="head-icon">

            <a title="客服电话" target="_blank" href="javascript:void(0)">
                <i class="fa fa-tablet"></i>
                <p><b>客服电话</b>{:F('profiles')['phone']}</p>
            </a>

            <a title="邮箱地址" target="_blank" href="javascript:void(0)">
                <i class="fa fa-envelope-o"></i>
                <p><b>邮箱地址</b>{:F('profiles')['emil']}</p>
            </a>

            <a title="企业地址" target="_blank">
                <i class="fa fa-sun-o"></i>
                <p><b>企业地址</b>{:F('profiles')['address']}</p>
            </a>

        </div>
    </div>
</header>
<nav role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle hamburger hamburger-close collapsed"
                    data-target="#example-navbar-default-collapse" data-toggle="collapse">
                <span class="sr-only"></span>
                <span class="hamburger-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">
            <script></script>
            <ul class="nav navbar-nav navlist">
                <li><a href="{:U('Index/index')}" title="首页" class="link active"><font>首页</font></a></li>
                <li><a href="{:U('About/index')}" title="关于我们" class="link"><font>关于我们</font></a></li>
                <li><a href="{:U('News/index')}" title="新闻资讯" class="link"><font>新闻资讯</font></a></li>
                <li><a href="{:U('Product/index')}" title="产品展示" class="link"><font>产品展示</font></a></li>
                <li><a href="{:U('Contact/index')}" title="联系我们" class="link"><font>联系我们</font></a></li>
            </ul>

        </div>
<!--         <div class="nav-button">
            <form action="" method="get">
                <input type="hidden" name="lang" value="cn">
                <input class="text" type="text" placeholder="请输入搜索关键词！" name="searchword">
                <input class="submit" type="submit">
                <i>&nbsp;</i>
                <b>搜索</b>
            </form>
        </div> -->
    </div>
</nav>
