
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1497232122358'); /* IE9*/
  src: url('iconfont.eot?t=1497232122358#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1497232122358') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1497232122358') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1497232122358#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-binoculars:before { content: "\e601"; }

.icon-about:before { content: "\e602"; }

.icon-accept_database:before { content: "\e603"; }

.icon-add_image:before { content: "\e604"; }

.icon-address_book:before { content: "\e605"; }

.icon-answers:before { content: "\e606"; }

.icon-approval:before { content: "\e607"; }

.icon-alarm_clock:before { content: "\e608"; }

.icon-assistant:before { content: "\e609"; }

.icon-biotech:before { content: "\e60a"; }

.icon-business_contact:before { content: "\e60c"; }

.icon-businesswoman:before { content: "\e60f"; }

.icon-businessman:before { content: "\e610"; }

.icon-butting_in:before { content: "\e611"; }

.icon-calculator:before { content: "\e612"; }

.icon-calendar:before { content: "\e613"; }

.icon-camcorder_pro:before { content: "\e614"; }

.icon-camcorder:before { content: "\e615"; }

.icon-cancel:before { content: "\e616"; }

.icon-camera:before { content: "\e617"; }

.icon-camera_identification:before { content: "\e618"; }

.icon-cell_phone:before { content: "\e619"; }

.icon-clapperboard:before { content: "\e61a"; }

.icon-clock:before { content: "\e61b"; }

.icon-close_up_mode:before { content: "\e61c"; }

.icon-collaboration:before { content: "\e61d"; }

.icon-collect:before { content: "\e61e"; }

.icon-combo_chart:before { content: "\e61f"; }

.icon-comments:before { content: "\e620"; }

.icon-compact_camera:before { content: "\e621"; }

.icon-conference_call:before { content: "\e622"; }

.icon-contacts:before { content: "\e623"; }

.icon-data_backup:before { content: "\e624"; }

.icon-data_protection:before { content: "\e625"; }

.icon-data_configuration:before { content: "\e626"; }

.icon-data_recovery:before { content: "\e627"; }

.icon-data_encryption:before { content: "\e628"; }

.icon-database:before { content: "\e629"; }

.icon-decision:before { content: "\e62a"; }

.icon-debt:before { content: "\e62b"; }

.icon-delete_database:before { content: "\e62c"; }

.icon-department:before { content: "\e62d"; }

.icon-diploma_2:before { content: "\e62e"; }

.icon-diploma_1:before { content: "\e62f"; }

.icon-document:before { content: "\e630"; }

.icon-edit_image:before { content: "\e631"; }

.icon-end_call:before { content: "\e632"; }

.icon-engineering:before { content: "\e633"; }

.icon-expired:before { content: "\e634"; }

.icon-faq:before { content: "\e635"; }

.icon-film:before { content: "\e636"; }

.icon-film_reel:before { content: "\e637"; }

.icon-feedback:before { content: "\e638"; }

.icon-fine_print:before { content: "\e639"; }

.icon-flow_chart:before { content: "\e63a"; }

.icon-folder:before { content: "\e63b"; }

.icon-genealogy:before { content: "\e63c"; }

.icon-globe:before { content: "\e63d"; }

.icon-grid:before { content: "\e63e"; }

.icon-high_priority:before { content: "\e640"; }

.icon-home:before { content: "\e641"; }

.icon-idea:before { content: "\e642"; }

.icon-image_file:before { content: "\e643"; }

.icon-import:before { content: "\e644"; }

.icon-icons8_cup:before { content: "\e645"; }

.icon-in_transit:before { content: "\e646"; }

.icon-info:before { content: "\e647"; }

.icon-invite:before { content: "\e648"; }

.icon-ipad:before { content: "\e649"; }

.icon-iphone:before { content: "\e64a"; }

.icon-kindle:before { content: "\e64b"; }

.icon-landscape:before { content: "\e64c"; }

.icon-key:before { content: "\e64d"; }

.icon-leave:before { content: "\e64e"; }

.icon-like_placeholder:before { content: "\e64f"; }

.icon-library:before { content: "\e650"; }

.icon-like:before { content: "\e651"; }

.icon-link:before { content: "\e652"; }

.icon-lock_landscape:before { content: "\e653"; }

.icon-lock_portrait:before { content: "\e654"; }

.icon-list:before { content: "\e655"; }

.icon-lock:before { content: "\e656"; }

.icon-manager:before { content: "\e657"; }

.icon-mind_map:before { content: "\e658"; }

.icon-mms:before { content: "\e659"; }

.icon-multiple_cameras:before { content: "\e65a"; }

.icon-multiple_devices:before { content: "\e65b"; }

.icon-multiple_inputs:before { content: "\e65c"; }

.icon-multiple_smartphones:before { content: "\e65d"; }

.icon-ok:before { content: "\e65e"; }

.icon-opened_folder:before { content: "\e65f"; }

.icon-old_time_camera:before { content: "\e660"; }

.icon-online_support:before { content: "\e661"; }

.icon-organization:before { content: "\e662"; }

.icon-package:before { content: "\e663"; }

.icon-paid:before { content: "\e664"; }

.icon-parallel_tasks:before { content: "\e665"; }

.icon-panorama:before { content: "\e666"; }

.icon-overtime:before { content: "\e667"; }

.icon-phone_android:before { content: "\e668"; }

.icon-photo_reel:before { content: "\e669"; }

.icon-podium_with_audience:before { content: "\e66a"; }

.icon-planner:before { content: "\e66b"; }

.icon-podium_with_speaker:before { content: "\e66c"; }

.icon-picture:before { content: "\e66d"; }

.icon-privacy:before { content: "\e66e"; }

.icon-portrait_mode:before { content: "\e66f"; }

.icon-print:before { content: "\e670"; }

.icon-questions:before { content: "\e671"; }

.icon-registered_trademark:before { content: "\e672"; }

.icon-reuse:before { content: "\e673"; }

.icon-rotate_to_landscape:before { content: "\e674"; }

.icon-rotate_to_portrait:before { content: "\e675"; }

.icon-rules:before { content: "\e676"; }

.icon-shop:before { content: "\e67b"; }

.icon-smartphone_tablet:before { content: "\e67c"; }

.icon-slr_back_side:before { content: "\e67d"; }

.icon-sound_recording_copyright:before { content: "\e67e"; }

.icon-speaker:before { content: "\e67f"; }

.icon-start:before { content: "\e680"; }

.icon-switch_camera:before { content: "\e681"; }

.icon-statistics:before { content: "\e682"; }

.icon-support:before { content: "\e683"; }

.icon-stack_of_photos:before { content: "\e684"; }

.icon-survey:before { content: "\e685"; }

.icon-synchronize:before { content: "\e686"; }

.icon-tablet_android:before { content: "\e687"; }

.icon-template:before { content: "\e688"; }

.icon-todo_list:before { content: "\e689"; }

.icon-two_smartphones:before { content: "\e68a"; }

.icon-unlock:before { content: "\e68b"; }

.icon-video_file:before { content: "\e68c"; }

.icon-view_details:before { content: "\e68d"; }

.icon-vip:before { content: "\e68e"; }

.icon-voice_presentation:before { content: "\e68f"; }

